body {         
  --background: #d4d4d6;
  font-family: -apple-system,
               BlinkMacSystemFont,
               "San Francisco",
               "Segoe UI",
               Roboto,
               sans-serif;
}

#pantalla-login ion-content,
#pantalla-registro ion-content {
  --background: #d4d4d6;
  --padding-top: 50px;
}

ion-item {
  --border-radius: 12px;
  margin: 8px 12px;
  --inner-border-width: 0;
  --border-width: 0;
  --highlight-height: 0;

}

#txtUsuario, #txtPassword,
#regUsuario, #regPass, #slcPaises {
    color: rgb(73, 72, 73);
    font-size: 18px; 
    --border-radius: 12px;
    font-family: 'Arial', Gadget, sans-serif;
    
}

#btnLogin, #btnRegistrar {
  width: 70%;
  margin: 16px auto;
  display: block;

  --border-radius: 12px;
  --background: #007aff;
  --background-activated: #0063cc;
  --box-shadow: none;

  font-weight: 600;
  letter-spacing: 0.2px;
}

#btnIrLogin, #btnIrRegistro {
  width: 70%;
  margin: 16px auto;
  display: block;
  font-size: 15px;
  text-transform: none;
  color: #007aff;
}

#btnActualizar,
#btnNuevaPelicula,
#btnEstadisticas,
#btnMapa {
  width: 92%;
  margin: 8px auto;
  display: block;
  --border-radius: 12px;
}



#pantalla-peliculas ion-item {
  border-radius: 12px;
  margin: 8px 12px;
  border: 1px solid #e5e5ea;
}

#listaPeliculas h2 {
  font-size: 17px;
  font-weight: 600;
  color: #1c1c1e;
}

#listaPeliculas p {
  font-size: 13px;
  color: #8e8e93;
}
#listaPeliculas ion-button {
  --border-radius: 10px;
  --background: #ff3b30;
}


#btnFiltrar {
  width: 92%;
  margin: 10px auto;
  display: block;
}

#pantalla-alta {
  --background: #f2f2f7;
}

#pantalla-alta ion-item {
  --background: white;
  border-radius: 12px;
  margin: 6px 10px;
  border: 1px solid #e5e5ea;
}

#btnAlta {
  width: 50%;
  --border-radius: 12px;
  margin: 20px auto;
  display: block;
}

.pantalla-estadisticas{
  margin-bottom: 10px;
}

.total-card {
  text-align: center;
}

.total-label {
  font-size: 0.9rem;
  color: var(--ion-color-medium);
}

.total-number {
  font-size: 2.5rem;
  font-weight: bold;
}

.age-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 6px;
  font-weight: 500;
}

ion-list{
  margin-bottom: 40px !important;
}


#mapa {
  border-radius: 14px;
  margin: 55px;
  border: 1px solid #e5e5ea;
}

ion-toolbar {
  --background: white;
  --border-color: #e5e5ea;
}

ion-title {
  font-weight: 600;
  color: #1c1c1e;
}



.ion-page {
  animation: fade 0.2s ease;
}

@keyframes fade {
  from { opacity: 0 }
  to   { opacity: 1 }
}
